[submodule "apps/admin"]
	path = apps/admin
	url = git@github.com:HUNTERCAT-DIGITAL/lieshou-admin-web.git
[submodule "apps/desktop"]
	path = apps/desktop
	url = git@github.com:HUNTERCAT-DIGITAL/lieshou-desktop.git
[submodule "apps/mobile"]
	path = apps/mobile
	url = git@github.com:HUNTERCAT-DIGITAL/lieshou-mobile.git
[submodule "apps/mini-program"]
	path = apps/mini-program
	url = git@github.com:HUNTERCAT-DIGITAL/lieshou-mini-program.git
[submodule "open"]
	path = open
	url = git@github.com:HUNTERCAT-DIGITAL/lieshou-cloud-web.git
[submodule "framework"]
	path = framework
	url = https://github.com/HUNTERCAT-DIGITAL/lieshou-framework.git
